.bottom-tabbar {
  background-color: rgb(28, 28, 28);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 22vw;
  position: fixed;
  left: 40%;
  bottom: 2%;
  border-radius: 1em;
  height: 6vh;

  /* Mobile */
  @media screen and (max-width: 412px) {
    position: relative;
    border-radius: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    justify-content: space-around;
  }

  /* Tablet Portrait */
  @media screen and (min-width: 440px) and (max-width: 1200px) {
    width: 24vw;
    height: 8vh;
    left: 38%;
  }
}

.bottom-tab {
  color: rgb(85, 85, 85);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  gap: 0;
  padding: 0;
  flex: 1;
  margin: 0;
  box-sizing: border-box;

  &:first-child {
    border-right: 1px solid rgb(74, 74, 74);
  }

  span {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    /* outline: 1px solid red; */
  }

  .icon {
    font-size: 24px;
    line-height: 1;
    /* outline: 1px solid rgb(169, 144, 20); */
    box-sizing: content-box;
    padding: 0;
    margin: 0;
  }
}

.bottom-tab--active {
  color: rgb(211, 211, 211);

  &:visited {
    color: rgb(195, 195, 195);
  }
}
